
// Body
$body-bg: #000;

// Typography
$font-family-sans-serif: "Helvetica Neue","Helvetica","Arial",sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-silver-color: #C0C0C0;
// style
$border-base : 5px;